@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: all;
}

.blur-bg {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    }

/* .test-bg{
    background-image: url('/test.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.test-below-bg{
    background-image: url('/test-below.svg');
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.custom-box-shadow{
    box-shadow: 6px 6px 30px 0 rgba(0,0,0,0.3);
}

@font-face {
    font-family: Fredoka;
    src: url(/Fredoka-Regular.ttf);
}

*{
    font-family: Fredoka;
}